<!doctype html>
<html>
<head>
    <title>YouTopia Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="profile.css">
</head>
<body>
  <header>
    <nav>
      <section>
        <a href="/profile"><li>HOME</li></a>
        <a href="/feed"><li>FEED</li></a>
        <a href="/atlas"><li>ATLAS</li></a>
      </section>
      <section>
        <h1>YOUTOPIA</h1>
      </section>
      <section>
        <li><input id="searchBox" type="text" name="" placeholder="search"><button id="sendSearch" type="button" name="button"></button></li>
        <a href="#"><li>Settings</li></a>
      </section>
    </nav>
  </header>
<div class="container">
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                  <p>
                    <strong>Welcome Home, @<%= user.local.username %> </strong>
                    <br>
                    <strong>You have (7) messages today.</strong>
                    <br>
                    <strong>ABOUT:</strong>
                    <br>
                    <strong>LOCATION:</strong>
                    <br>
                    <strong>COMRADES:...   </strong>
                    <strong>CAMARADARIE:...</strong>

                      <!-- <strong>id</strong>: <%= user._id %><br>
                      <strong>email</strong>: <%= user.local.email %><br>
                      <strong>password</strong>: <%= user.local.password %> -->
                  </p>
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
        <div class="col-sm-6">
          <h2>Create a Post</h2>
        <% if (user.local.email) { %>
          <form action="/posts" method="POST">
            <!-- <input type="text" value="<%= user.local.email %>" name="name"> -->
            <textarea name="msg" placeholder="what's on your mind?"></textarea>
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

          <h3>My Posts</h3>
          <ul class="posts">
          <% for(var i=0; i<posts.length; i++) {%>
            <li class="postBox" method="GET">
              <span><%= posts[i].username %></span>
              <span><%= posts[i].msg %></span>
              <span><%= posts[i].heartLike %></span>
              <span><i class="fas fa-heart" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

</div>

<script src="https://kit.fontawesome.com/077191d827.js" crossorigin="anonymous"></script>
<script src="main.js"></script>

</body>
</html>
